[Desktop Entry]
Version=1.0
Name=Drawpile
GenericName=Collaborative Drawing Program
GenericName[fi]=Monen käyttäjän piirto-ohjelma
GenericName[uk]=Програма для спільного малювання
Exec=drawpile %u
MimeType=image/openraster;image/png;image/jpeg;application/x-drawpile-recording;x-scheme-handler/drawpile;
Type=Application
Icon=drawpile
StartupNotify=true
Categories=Graphics;
Terminal=false
