#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    0,5,0,0
  PRODUCTVERSION 0,5,0,0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0
#endif
  FILEOS VOS_NT
  FILETYPE VFT_APP
  FILESUBTYPE 0 // unused
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4" // ?
    BEGIN
      VALUE "Comments", "http://drawpile.sourceforge.net/\0"
      VALUE "FileDescription", "Drawpile stand-alone server\0"
      VALUE "FileVersion", "0.5.0\0"
      VALUE "InternalName", "drawpile-srv\0"
      VALUE "LegalCopyright", "Copyright (C) 2006,2007 M.K.A.\0"
      VALUE "OriginalFilename", "drawpile-srv.exe\0"
      VALUE "ProductName", "Drawpile Server\0"
      VALUE "ProductVersion", "0.5.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x409, 1252
  END
END
