---
BasedOnStyle: LLVM
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Stroustrup
DeriveLineEnding: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex: '^"'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<(dp[a-z]*)/'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<cmocka'
    Priority: 4
    SortPriority: 0
    CaseSensitive: false
  - Regex: '.*'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
IndentPPDirectives: AfterHash
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
UseCRLF: false
UseTab: Never
...
