language: cpp

branches:
  only:
    - master

dist:
  - bionic

before_install:
  - sudo apt-get -y install build-essential cmake extra-cmake-modules gcc-multilib g++ libkf5archive-dev libkf5dnssd-dev libminiupnpc-dev libsodium-dev qtbase5-dev libqt5svg5-dev qttools5-dev qtmultimedia5-dev

script:
  - mkdir -p build
  - cd build && cmake .. -DTESTS=ON && make && make test

