[Unit]
Description=Drawpile dedicated server
After=network.target

[Service]
ExecStart=/usr/bin/drawpile-srv
Type=notify
NotifyAccess=main

# Note: in order to use session recording and SSL safely,
# a dedicated user account should be created for drawpile-srv.
User=nobody

[Install]
WantedBy=multi-user.target

