body, html {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

#header {
	background: #428bca;
	padding: 5px 15px;
}

#header>h1 {
	margin: 0;
	color: #fff;
}

#body {
	padding: 15px;
}

.table {
	width: 100%;
	max-width: 600px;
	margin: 1em 0;

	color: #333;
	font-size: 16px;
	line-height: 40px;

	border: 1px solid #428bca;
	border-spacing: 0;

}

.table>thead>.header {
	background: #428bca;
	color: #fff;
}

.table>thead>.header a {
	color: #fff;
}

.table th:first-child, .table td:first-child {
	padding: 0 15px 0 20px;
}

.table>thead>tr:last-child>th {
	border-bottom: 2px solid #ddd;
}

.table th { text-align: left }

.table>tbody>tr>* { border-bottom: 1px solid #ddd; }
.table>tbody>tr:last-child>td { border-bottom: none }

tr.empty {
	font-style: italic;
	text-align: center;
}

.bubble {
	background: #428bca;
	color: #fff;
	font-size: 12px;
	padding: 3px 10px;
	border-radius: 10px;
	margin: 0 1px;
}

.bubble.gray {
	background: #888;
	color: #fff;
}

.bubble.red {
	background: #ca428b;
}

a.button {
	background: #428bca;
	color: #fff;
	padding: 15px;
	margin: 15px 5px 15px 0;
}

a.button:hover { background: #AACEEB; }

a.button.red { background: #ca428b; }
a.button.red:hover { background: #EE7FBC; }

td a.button {
	padding: 3px;
	border: 1px solid #428bca;
	background: #fff;
	color: #428bca!important;
}

th a.button {
	padding: 3px;
	border: 1px solid #fff;
}


th a.button:hover {
	background: #fff;
	color: #428bca;
}

td a.button.red, th a.button.red {
	background: #fff;
	color: #ca428b!important;
	border-color: #ca428b;
}

p.buttons {
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 20px;
}

textarea {
	width: 100%;
	resize: vertical;
}

input[type=number] {
	width: 4em;
	border: 1px solid #ccc;
}

input.ng-invalid {
	background: #ca428b;
}

