[Desktop Entry]
Version=1.0
Name=Drawpile

GenericName=Collaborative drawing program
GenericName[fi]=Monen käyttäjän piirto-ohjelma
Comment=Multiuser collaborative drawing program

Exec=drawpile %f
MimeType=image/openraster;image/png;image/jpeg;application/x-drawpile-recording;
Type=Application
Icon=drawpile
StartupNotify=true
Categories=Graphics;Network;RasterGraphics;
Terminal=false

